{% extends "base-mainview.html"%}

{% block style %}{% endblock style %}

{% block content %}
<h1 class="mb-5">Alle Kunden</h1>
<button type="button" class="btn btn-outline-dark mb-3" onclick="showCreateClient()"><i class="bi-plus-lg" style="padding-right: 6px;"></i>Neuer Kunde</button>
<p class="mb-2">Es wurden {{ len(clients) }} Kunden gefunden.</p>
<table class="table table-striped" style="outline-style: solid; outline-color: lightgray; outline-width: 1px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>UUID</th>
            <th>Erstellungsdatum</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.uuid }}</td>
            <td>{{ client.date_created }}</td>
            <td>
                <nobr>
                    <a class="btn btn-secondary" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('read_client', client_uuid = client.uuid) }}"><i class="bi-eye"></i></a>
                    <a class="btn btn-outline-secondary" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('update_client', client_uuid = client.uuid) }}"><i class="bi-pencil"></i></a>
                    <a class="btn btn-outline-danger" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('delete_client', client_uuid = client.uuid) }}"><i class="bi-x-lg"></i></a>
                </nobr>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function showCreateClient(){
        window.top.document.getElementById("main-view-iframe").src = "{{ url_for('create_client') }}";
    }
</script>
{% endblock content %}