{% extends "base-mainview.html"%}

{% block style %}{% endblock style %}

{% block content %}
<h1 class="mb-5">Alle Komponenten</h1>
<button type="button" class="btn btn-outline-dark mb-3" onclick="showCreateComponent()">Neue Komponente</button>
<table class="table table-striped table-hover" style="outline-style: solid; outline-color: lightgray; outline-width: 1px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>UUID</th>
            <th>Nummer</th>
            <th>Erstellungsdatum</th>
            <th>Status</th>
            <th>Dateien</th>
            <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        {% for component in components %}
        <tr>
            <td><a href="{{ url_for('read_component', component_uuid = component.uuid) }}">{{ component.name }}</a></td>
            <td>{{ component.uuid }}</td>
            <td>{{ component.component_number }}</td>
            <td>{{ component.date_created }}</td>
            <td>{{ component.status }}</td>
            <td>{{ component.files }}</td>
            <td>
                <a href="{{ url_for('update_component', component_uuid = component.uuid) }}">bearbeiten</a>
                <br>
                <a href="{{ url_for('delete_component', component_uuid = component.uuid) }}">entfernen</a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    
      

</table>

{% endblock content %}

{% block scripts %}
<script>
    function showCreateComponent(){
        window.top.document.getElementById("main-view-iframe").src = "{{ url_for('create_component') }}";
    }
</script>
{% endblock scripts %}