<style>
    table, th, td {
      border: 1px solid black;
      margin-top: 1rem;
    }
    
    td {
        padding-right: 0.6rem;
    }
    
    th {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }
</style>
    
<h1>Alle Komponenten</h1>
<button onclick="showCreateComponent()">Neue Komponente</button>
<table>
    <tr>
        <th>Name</th>
        <th>UUID</th>
        <th>Erstellungsdatum</th>
        <th>Beschreibung</th>
        <th>Typ</th>
        <th>Nummer</th>
        <th>Status</th>
        <th>Aktionen</th>
    </tr>
    {% for component in components %}
    <tr>
        <td><a href="{{ url_for('read_component', component_uuid = component.uuid) }}">{{ component.name }}</a></td>
        <td>{{ component.uuid }}</td>
        <td>{{ component.date_created }}</td>
        <td>{{ component.description }}</td>
        <td>{{ component.type }}</td>
        <td>{{ component.component_number }}</td>
        <td>{{ component.status }}</td>
        <td>
            <a href="{{ url_for('update_component', component_uuid = component.uuid) }}">bearbeiten</a>
            <br>
            <a href="{{ url_for('delete_component', component_uuid = component.uuid) }}">entfernen</a>
        </td>
    </tr>
    {% endfor %}
</table>
<script>
    function showCreateComponent(){
        window.top.document.getElementById("main-view-iframe").src = "{{ url_for('create_component') }}";
    }
</script>