<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    {% if title %}
        <title>{{ title }} | nanoPLM</title>
    {% else %}
        <title>nanoPLM - Produktdaten im kleinen Team verwalten</title>
    {% endif %}

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='factory.png') }}">

    {% block style %}{% endblock style %}
</head>
<body>
    <p style="font-size: 1.1rem; "><a style="color: black; text-decoration: none;" href="{{ url_for('home') }}">ALSADO | nanoPLM</a></p>
    <nav style="margin-bottom: 1rem;">
        <a style="margin-right: 0.4rem;" href="{{ url_for('home') }}">Start</a>
        <a style="margin-right: 0.4rem;" href="{{ url_for('new_product') }}">Neues Produkt</a>
        <a style="margin-right: 0.4rem;" href="{{ url_for('getting_started') }}">Schnellstart</a>
    </nav>
    {% block content %}{% endblock content %}
    <p>Copyright (C) 2024 Aleksander Sadowski. Alle Rechte vorbehalten. Powered by <a href="https://www.alsado.de">www.alsado.de</a></p>

    {% block scripts %}{% endblock scripts %}
</body>
</html>