{% extends "base-mainview.html"%}

{% block style %}{% endblock style %}

{% block content %}
<h1 class="mb-5">Neue Instanz</h1>
<form action="{{ url_for('create_component_instance')}}" method="POST">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td>{{ form.client_uuid.label(style="padding-right: 10px;") }}</td>
            <td>{{ form.client_uuid }}</td>
        </tr>
        <tr>
            <td>{{ form.component_uuid.label(style="padding-right: 10px;") }}</td>
            <td>{{ form.component_uuid }}</td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-top: 2rem;">{{ form.submit(style="min-width:100%;") }}</td>
        </tr>
    </table>
</form>
{% endblock content %}