{% extends "base.html" %}

{% block style %}
<style>
table, th, td {
  border: 1px solid black;
}
</style>
{% endblock style %}

{% block content %}
<h1>Alle Produkte</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Beschreibung</th>
        <th>Typ</th>
        <th>Stammblattbreite</th>
        <th>Plattensitzhöhe</th>
        <th>Plattensitzlänge</th>
        <th>Plattensitzwinkel</th>
        <th>Schnittbreite</th>
        <th>Außendurchmesser</th>
        <th>Bohrungsdurchmesser</th>
        <th>Zähnezahl</th>
    </tr>
    {% for product in products %}
        <tr>
            <td><a href="{{ url_for('product', product_uuid=product.uuid) }}">{{ product.name }}</a></td>
            <td>{{ product.description }}</td>
            <td>{{ product.type }}</td>
            <td>{{ product.stammblattbreite }} mm</td>
            <td>{{ product.plattensitzhoehe }} mm</td>
            <td>{{ product.plattensitzlaenge }} mm</td>
            <td>{{ product.plattensitzwinkel }} mm</td>
            <td>{{ product.schnittbreite }} mm</td>
            <td>{{ product.aussendurchmesser }} mm</td>
            <td>{{ product.bohrungsdurchmesser }} mm</td>
            <td>{{ product.zaehnezahl }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}

{% block scripts %}{% endblock scripts %}
