{% extends "base-mainview.html"%}

{% block style %}{% endblock style %}

{% block content %}
<a type="button" class="btn btn-outline-dark mb-3" href="{{ url_for('all_component_instances') }}">< Alle Instanzen</a> 
<p>Instanz</p>
<h1 class="mb-3">{{ component_instance.component }}#{{ component_instance.serial_number }}</h1>
<div class="mb-2">
    <nobr>
        <a class="btn btn-outline-secondary" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('read_component', component_uuid = component_instance.component) }}"><i class="bi-eye" style="padding-right: 6px;"></i>Komponente öffnen</a>
        <a class="btn btn-outline-danger" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('delete_component_instance', component_instance_uuid = component_instance.uuid) }}"><i class="bi-x-lg" style="padding-right: 6px;"></i>Löschen</a>
    </nobr>
</div>
<table class="table table-striped" style="outline-style: solid; outline-color: lightgray; outline-width: 1px;">
    <tbody>
        <tr>
            <td>UUID</td>
            <td>{{ component_instance.uuid }}</td>
        </tr>
        <tr>
            <td>Komponente</td>
            <td>{{ component_instance.component }}</td>
        </tr>
        <tr>
            <td>Kunde</td>
            <td>{{ component_instance.client }}</td>
        </tr>
        <tr>
            <td>Seriennummer</td>
            <td>{{ component_instance.serial_number }}</td>
        </tr>
        <tr>
            <td>Erstellungsdatum</td>
            <td>{{ component_instance.date_created }}</td>
        </tr>
    </tbody>
</table> 

<h2 class="pt-3">Dateien</h2>
<p class="mb-2">Es wurden {{ len(files) }} Dateien gefunden.</p>
<table class="table table-striped" style="outline-style: solid; outline-color: lightgray; outline-width: 1px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>UUID</th>
            <th>Erstellungsdatum</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.uuid }}</td>
            <td>{{ file.date_created }}</td>
            <td>
                <nobr>
                    <a class="btn btn-secondary" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('read_file', file_uuid = file.uuid) }}"><i class="bi-eye"></i></a>
                    <a class="btn btn-outline-secondary" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('update_file', file_uuid = file.uuid) }}"><i class="bi-pencil"></i></a>
                    <a class="btn btn-outline-danger" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('delete_file', file_uuid = file.uuid) }}"><i class="bi-x-lg"></i></a>
                </nobr>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}