{% extends "base-mainview.html"%}

{% block style %}{% endblock style %}

{% block content %}
<a type="button" class="btn btn-outline-dark mb-3" href="{{ url_for('all_clients') }}">< Alle Kunden</a>
<p>Kunde</p> 
<h1 class="mb-3">{{ client.name }}</h1>
<div class="mb-2">
    <nobr>
        <a class="btn btn-outline-secondary" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('update_client', client_uuid = client.uuid) }}"><i class="bi-pencil" style="padding-right: 6px;"></i>Bearbeiten</a>
        <a class="btn btn-outline-danger" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('delete_client', client_uuid = client.uuid) }}"><i class="bi-x-lg" style="padding-right: 6px;"></i>Löschen</a>
    </nobr>
</div>
<table class="table table-striped" style="outline-style: solid; outline-color: lightgray; outline-width: 1px;">
    <tbody>
        <tr>
            <td>UUID</td>
            <td>{{ client.uuid }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ client.name }}</td>
        </tr>
        <tr>
            <td>Erstellungsdatum</td>
            <td>{{ client.date_created }}</td>
        </tr>
    </tbody>
</table>   

<h2 class="pt-5">Instanzen</h2> 
<div class="pt-3 mb-2">
    <nobr>
        <a class="btn btn-outline-secondary" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('create_component_instance', client_uuid = client.uuid) }}"><i class="bi-plus-lg" style="padding-right: 6px;"></i>Instanz hinzufügen</a>
    </nobr>
</div>
<p class="mb-2">Es wurden {{ len(component_instances) }} Instanzen gefunden.</p>
<table class="table table-striped" style="outline-style: solid; outline-color: lightgray; outline-width: 1px;">
    <thead>
        <tr>
            <th>Komponente</th>
            <th>Seriennummer</th>
            <th>UUID</th>
            <th>Erstellungsdatum</th>
            <th>Kunde</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
    {% for component_instance in component_instances %}
    <tr>
        <td>{{ component_instance.component }}</td>
        <td>{{ component_instance.serial_number }}</td>
        <td>{{ component_instance.uuid }}</td>
        <td>{{ component_instance.date_created }}</td>
        <td>{{ component_instance.client }}</td>
        <td>
            <nobr>
                <a class="btn btn-secondary" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('read_component_instance', component_instance_uuid = component_instance.uuid) }}"><i class="bi-eye"></i></a>
                <a class="btn btn-outline-danger" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('delete_component_instance', component_instance_uuid = component_instance.uuid) }}"><i class="bi-x-lg"></i></a>
            </nobr>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2 class="pt-5">Dateien</h2>
<p class="mb-2">Es wurden {{ len(files) }} Dateien gefunden.</p>
<table class="table table-striped" style="outline-style: solid; outline-color: lightgray; outline-width: 1px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>UUID</th>
            <th>Erstellungsdatum</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.uuid }}</td>
            <td>{{ file.date_created }}</td>
            <td>
                <nobr>
                    <a class="btn btn-secondary" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('read_file', file_uuid = file.uuid) }}"><i class="bi-eye"></i></a>
                    <a class="btn btn-outline-secondary" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('update_file', file_uuid = file.uuid) }}"><i class="bi-pencil"></i></a>
                    <a class="btn btn-outline-danger" style="padding-left: 10px; padding-right: 10px;" href="{{ url_for('delete_file', file_uuid = file.uuid) }}"><i class="bi-x-lg"></i></a>
                </nobr>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}