{% extends "base.html" %}

{% block style %}
<style>
table, th, td {
  border: 1px solid black;
}

th, td {
    padding-right: 0.6rem;
}
</style>
{% endblock style %}

{% block content %}
<h1>{{ product.name }}</h1>
<table style="margin-bottom: 1rem;" >
    <tr>
        <td>UUID</td>
        <td>{{ product.uuid }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ product.name }}</td>
    </tr>
    <tr>
        <td>Beschreibung</td>
        <td>{{ product.description }}</td>
    </tr>
    <tr>
        <td>Typ</td>
        <td>{{ product.type }}</td>
    </tr>
    <tr>
        <td>Nummer</td>
        <td>{{ convert_to_five_digit_string(product.number) }}</td>
    </tr>
    <tr>
        <td>Stammblattbreite</td>
        <td>{{ product.stammblattbreite }} mm</td>
    </tr>
    <tr>
        <td>Plattensitzhöhe</td>
        <td>{{ product.plattensitzhoehe }} mm</td>
    </tr>
    <tr>
        <td>Plattensitzlänge</td>
        <td>{{ product.plattensitzlaenge }} mm</td>
    </tr>
    <tr>
        <td>Plattensitzwinkel</td>
        <td>{{ product.plattensitzwinkel }} mm</td>
    </tr>
    <tr>
        <td>Schnittbreite</td>
        <td>{{ product.schnittbreite }} mm</td>
    </tr>
    <tr>
        <td>Außendurchmesser</td>
        <td>{{ product.aussendurchmesser }} mm</td>
    </tr>
    <tr>
        <td>Bohrungsdurchmesser</td>
        <td>{{ product.bohrungsdurchmesser }} mm</td>
    </tr>
    <tr>
        <td>Zähnezahl</td>
        <td>{{ product.zaehnezahl }}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>
            {{ product.status }}
            {% if product.status != 'Freigegeben' %}
            <br>
            <a href="{{ url_for('release_product', product_uuid=product.uuid) }}">freigeben</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Dateien</td>
        <td>
            {% if product.freecad_available == True %}
            <a href="{{ url_for('static', filename='projects/'+product.uuid+'.FCStd') }}">FCSTD herunterladen</a>
            <br>
            {% else %}
            <span>Keine FCSTD</span>
            <br>
            {% endif %}

            {% if product.preview_available == True %}
            <a href="{{ url_for('static', filename='projects/'+product.uuid+'.stl') }}">STL herunterladen</a>
            <br>
            {% else %}
            <span>Keine STL</span>
            <br>
            {% endif %}

            {% if product.generic_available == True %}
            <a href="{{ url_for('static', filename='projects/'+product.uuid+'.step') }}">STEP herunterladen</a>
            <br>
            {% else %}
            <span>Keine STEP</span>
            <br>
            {% endif %}

            {% if product.techdraw_available == True %}
            <a href="#">PDF herunterladen</a>
            <br>
            {% else %}
            <span>Keine PDF</span>
            <br>
            {% endif %}

            {% if product.mfg_available == True %}
            <a href="#">DXF herunterladen</a>
            <br>
            {% else %}
            <span>Keine DXF</span>
            <br>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Aktionen</td>
        <td>
            {% if NANOPLM_MODULE_FREECADCMD == True %}
            <a href="{{ url_for('run_freecad_wizard', product_uuid=product.uuid) }}">Wizard starten</a>
            <br>
            {% else %}
            <span style="color:grey; font-style: italic;">Wizard starten</span>
            <br>
            {% endif %}
            <a href="{{ url_for('update_product', product_uuid=product.uuid) }}">bearbeiten</a>
            <br>
            <a href="{{ url_for('delete_product', product_uuid=product.uuid) }}">entfernen</a>
        </td>
    </tr>
</table>   
<a href="{{ url_for('home') }}">< Zurück</a> 
{% endblock content %}

{% block scripts %}{% endblock scripts %}
