{% extends "base-mainview.html"%}

{% block style %}{% endblock style %}

{% block content %}
<h1 class="mb-5">'{{ client.name }}' Kunde bearbeiten</h1>
<form action="{{ url_for('update_client', client_uuid = client.uuid)}}" method="POST">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td>UUID</td>
            <td>{{ client.uuid }}</td>
        </tr>
        <tr>
            <td>{{ form.name.label(style="padding-right: 10px;") }}</td>
            <td>{{ form.name(autocomplete="off", value=client.name) }}</td>
        </tr>
        <tr>
            <td>Erstellungsdatum</td>
            <td>{{ client.date_created }}</td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-top: 2rem;">{{ form.submit(style="min-width:100%;", value="Aktualisieren") }}</td>
        </tr>
    </table>
</form>
{% endblock content %}