<style>
    td {
        padding-right: 0.6rem;
    }
</style>

<h1>{{ component.name }}</h1>
<form action="{{ url_for('update_component', component_uuid = component.uuid)}}" method="POST">
    {{ form.csrf_token }}

    <table>
        <tr>
            <td>{{ form.name.label }}</td>
            <td>{{ form.name(value = component.name) }}</td>
        </tr>
        <tr>
            <td>{{ form.description.label }}</td>
            <td>{{ form.description(value = component.description) }}</td>
        </tr>
        <tr>
            <td>{{ form.type.label }}</td>
            <td>{{ form.type(value=component.type) }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ component.status }}</td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-top: 2rem;">{{ form.submit(style = "min-width:100%;", value = "Aktualisieren") }}</td>
        </tr>
    </table>
</form>